@import "../../../../../styles/fonts.scss";

.emptyState {
  width: 100%;
  background: white;

  width: 100%;
  padding: 30px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
  }
  & .descriptionEmpty {
    font-size: 14px;
    margin-top: 12px;
    font-family: $spaceMono;
  }
}
